.cleanButton {
    background-color: #0f4c75;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.grid-wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  
  /* Ajustes específicos para dispositivos pequeños */
  @media (max-width: 768px) {
    .grid-wrapper {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }