.divNavBar {
  background-color: #0F4C75;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.logo {
  height: 60px;
  width: auto;
}

.divPerfilContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.divPerfil {
  text-align: right;
}

.nombre {
  color: white;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.rol {
  color: #BBE1FA;
  font-size: 14px;
  font-style: italic;
  margin: 0;
}
